[Desktop Entry]
Name=Spotify-docker
Comment=Run Spotify in a Wayland container
Exec=@HOME@/.local/bin/spotify-docker launch
Icon=spotify-launcher
Terminal=false
Type=Application
Categories=AudioVideo;Audio;Player;
